# Ignore large data files and h5ad files
*.h5ad
*.h5
*.rds
*.tar.gz
*.loom
*.zarr
*.pkl
*.npy
*.npz
*.parquet

# Python artifacts
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# Environments and OS
.venv/
env/
.vscode/
.idea/
.DS_Store

